Resources/*
run.bat
tasks
E-ppomo.lnk
saticHtml.html
E-ppomo bat.lnk
node_modules/*
ppomodoro-win32-x64/
src/Resources/glyphicons-social/
src/Resources/glyphicons/
google-key
src/node_modules/
client_secret.json
pure-layout-marketing/
app.asar
project.sublime-project
project.sublime-workspace
