<div id="teamOrganizorComponent">
	<div ng-show="duplicatedUser">
		<div id="dupUser" class="alert alert-warning" role="alert">
			<strong>Already In!</strong>
			<span>{{duplicatedUser.name}} is already in list. please recheck.</span>
		</div>
	</div>
	<div id="searchPart">
		<div class="modal-header pop-over-header js-pop-over-header">
			<button type="button" class="close" data-dismiss="modal" ng-click="showCalendar=false">&times;</button>
			<div id="headText" class="modal-title">
				<label>Find User to Add</label>
			</div>
		</div>
		<form class="pure-form pure-form-aligned">
			<fieldset>
				<div id="header">
					<div class="pure-control-group centerForm">
						<input id="email" type="email" placeholder="Email / Id" ng-model="searchingText" ng-change="update()" ng-model-options="{debounce: 750}"/>
					</div>
				</div>
				<div class="centerForm pickUser" ng-show="selectedUser">
					<div>
						<div id="imgContainer" class="centerForm">
							<img src="{{selectedUser.photo}}" alt="" id="userPhoto">
						</div>

						<div id="nameContainer">
							<span id="userName">{{selectedUser.name}}</span>
							<span id="userId">{{selectedUser.id}}</span>
						</div>
						
						<div id="orgContainer" class="infoContainer">
							<span id="userOrganization">{{selectedUser.organization}}</span>
						</div>

						<div id="produceContainer" class="infoContainer">
							<div id="userProfile">{{selectedUser.profile}}</div>
						</div>

						<div id="buttonContainer" class="centerForm" ng-click="addUser()">
							<button class="btn btn-primary">Add</button>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="addUsers">
		<div class="userList centerForm">
				<div class="users" ng-repeat="user in addedUsers" ng-mouseenter="mouseenter(user)" ng-mouseleave="mouseleave(user)" ng-click="click($event, user)">
					<i id="deleteIcon" class="fa fa-times fa-3x" aria-hidden="true" ng-show="user.hover" ng-click="removeUser(user)"></i>
					<div id="imgContainer" class="centerForm">
						<img src="{{user.photo}}" alt="" id="userPhoto">
					</div>

					<div id="nameContainer">
						<span id="userName">{{user.name}}</span>
					</div>
				</div>
		</div>
	</div>
</div>