html ,body, .full-height {
	height:100%;
	overflow:hidden;
}
.row > div {
	/*border:1px solid blue;*/
}

svg {
	position:relative;
}

#blinder {
	z-index: 0;
	display:block;
	visibility:hidden;

	position:absolute;
	left:0px;
	top:0px;

	width:100%;
	height:100%;
}
.detailCover {
	background-color:rgba(0,0,0,0.4);
}
#taskNameInput {
	font-size: 41px;
	width:80%;
	display: inline;
	padding-top:0px;
	padding-bottom:0px;
}
#ppomoBlinder {
	height:100%;
	z-index: 2;
	position:relative;
}
#headerBlinder {
	width:100$;
	height:50px;
}
#detailBlinder {
	height:100%;
}

#ppomoHeader {
	/*width:200%;*/
	height:50px;
	/*overflow-x:scroll;*/
	overflow-y:hidden;
}
#ppomoListOuter {
	padding-left:10px;
	padding-right:0px;
	/*width:100%;*/
}

#ppomoList {
	position:absolute;

	/*601 - 48 = */
	width:100%;
	height:100%;
	right:-17px;
	overflow-y:scroll;
}
#ppomoContentHeader {
	height:10px;
}
#ppomoListContainer {
	width:100%;
	height:100%;

	margin-bottom:50px;
	position: relative;
}

#ppomoContentFooter {
	height:10px;
}

#newTask, #changeDeadline, #timerButton {
	/*width:130px;*/
	height:100%;

	/*border:1px solid black;*/
	border:none;
	border-radius:5px;
}
#ppomoDetail {
	height:100%;
	/*margin-right:17px;*/
}
#ppomoDetailHeader {
	margin-top:20px;
	height:60px;
}
#ppomoDetailHeader > h1 {
	display:inline;
	width:100%;
}
#ppomoDetailContentOuter {
	width:100%;
	height:100%;
	overflow:hidden;
	/*padding-left:0px;*/
	/*border:1px solid blue;*/
}
#ppomoDetailContent {
	min-height:60%;
	max-height:80%;
	width:106%;

	overflow-y:scroll;
	overflow-x:hidden;

	padding-right:5px;
	position:relative;

	left:0;
}

#dDayContainer {
	margin-top:-10px;
}
#dDayHeader {
	position:relative;
	display:inline-block;
	font-size:13px;
	vertical-align:text-top;
}
#dDayContents {
	position:relative;
	display:inline-block;
	font-size:40px;
	vertical-align: middle;
}
#dDayFooter {
	position:relative;
	display:inline-block;
	font-size:15px;
	vertical-align: bottom;
}
#deadLineUnSet {
	position:relative;
	/*margin-top:57px;*/
	height:51px;
	width:100%;
}
#deadLineUnSet>#dDayHeader {
	position:absolute;
	width:100%;
	bottom:-7px;
}
#deadLineSet {

}

#ppomoRepeatContainer {

}
#ppomoDeleteContainer {
	/*width:99%;*/
	margin-bottom: 10px;
}
#ppomoSuccessCountContainer {
	min-height:41px;
}

#infoPanel {
	position:absolute;
	display:none;
	visibility:hidden;

	left:0px;
	top:0px;
	width:100%;
	height:100%;

	z-index:-1;
}

.repeatContainer {
	margin:auto 3px;
	/*border:1px solid black;*/

	display:inline-block;
}

.detailContainers {
	margin-top:10px;
}

#memoTextArea {
	width:100%;
	resize: none;
}

.ppomoIconContainer {
	padding-left:10px;
}
.ppomoIcon {
	width:50px;
	height:50px;

	border-radius:20px;
	/*border:1px solid black;*/
}
.ppomoIcon-small {
	width:30px;
	height:30px;

	border-radius:8px;

	margin-bottom:11px;
}
.ppomoIcon-medium {
	width:60px;
	height:60px;

	border-radius:8px;

	margin-bottom:11px;
}
.ppomoListContainer {
	display:table;
	position: relative;
	background-color:#fbfbfb;

	cursor:pointer;
}
.ppomoListContainerChild {
	display:table;

	background-color:#8EA7AD;

	width:80%;
	height:80px;
	/*border:1px solid black;*/

	float:right;

	color:#473B41;

	/*margin-top:10px;*/
	margin-bottom:10px;
	cursor:pointer;
}
.ppomoName {
	font-family:sans-serif;
	font-size:20px;
	font-weight:bold;
}
.middle {
	display: table-cell;
	vertical-align:middle;
	/*top:50%;*/
}

.noDrag {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.ppomoBTN {
	margin-bottom:10px;
}
.ppomoNode {
	vertical-align:top;
	margin-bottom:30px;
}
.ppomoListText {
	cursor:default;
}
.bubble {
	position: absolute;
	width: 250px;
	height: 170px;
	padding: 0px;
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #7F7F7F solid 2px;
	z-index:6;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 19px 25px;
	border-color: white transparent;
	display: block;
	width: 0;
	z-index: 7;
	top: -25px;
	left: 106px;
}

.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 20px 26px;
	border-color: #7F7F7F transparent;
	display: block;
	width: 0;
	z-index: 6;
	top: -28px;
	left: 105px;
}
.ppomoSuccessIcon {
	cursor:pointer;
}

#openTeamOrganizor {
	background-color:#fbe200;
}

#temamates {
	height:40px;
}