#teamOrganizorComponent {
	min-height:700px;
}
#contextMenu {
	position: fixed;
	display:block;
	z-index: 5;
}
#contextMenu .dropdown-menu {
	display:block;
	left:0px;
	top:0px;
}
#contextMenu .dropdown-menu li a {
	outline: none;
}

#header {
	margin-top:10px;
}
#headText {
	width:100%;
	text-align:center;
}

.centerForm {
	display: -webkit-flex;
	display:         flex;

	-webkit-align-items: center;
			align-items: center;

	-webkit-justify-content: center;
			justify-content: center;
}
.nameHolder {
	width:auto!important;
}
.users {
	width:105px;
	height:140px;

	display:inline-block;
	position:relative;

	bottom:0px;
	margin-left:10px;
	margin-bottom:0px;

	cursor:pointer;
}
.users #imgContainer {
	/*margin-top:10px;*/
	
}
.users #userPhoto {
	width:80px;
	height:80px;

	border-radius: 40px;
}
.users #nameContainer {
	vertical-align:middle;
	width:100%;
	font-size:1em;
	text-align: center;
}
.users #userName {

}
.users #deleteIcon {
	position:absolute;
	right:5px;
	margin-top:0px;

	cursor:pointer;
}

.user-small {
	width:40px;
	height:4px;

	display:inline-block;
	position:relative;

	bottom:0px;
	margin-left:10px;
	margin-bottom:0px;

	cursor:pointer;
}
.user-small #imgContainer {
	/*margin-top:10px;*/
	
}
.user-small #userPhoto {
	width:40px;
	height:40px;

	border-radius: 20px;
}
.user-small #nameContainer {
	vertical-align:middle;
	width:100%;
	font-size:1em;
	text-align: center;
}
.user-small #userName {

}
.user-small #deleteIcon {
	position:absolute;
	right:5px;
	margin-top:0px;

	cursor:pointer;
}

.pickUser {
	margin-top:50px;
	width:100%;
}

.pickUser #imgContainer {
	/*display:block;*/
	height:auto;
}
.pickUser #userPhoto {
	width:120px;
	height:120px;

	border-radius: 125px;
}
.pickUser #nameContainer {
	width:100%;
	text-align:center;
	font-size:1.4em;
}
.pickUser #nameContainer #userId {
	color:gray;
}
.pickUser .infoContainer {
	width:100%;
	text-align:center;
}
.pickUser #buttonContainer {
	margin-top:15px;
}
.pickUser #userProfile {
	width:20em;
	word-wrap: break-word;
}

.addUsers {
	display:fixed;
	position:absolute;
	
	/*border:1px solid black;*/
	width:100%;
	height:140px;
	left:0px;
	bottom:0px;

	overflow-x:scroll;
	overflow-y:hidden;
}

#dupUser {
	position: absolute;
	width:100%;
	z-index:4;
}